<a href="#">Home</a>

<h1>Burning Airlines</h1>
<div id="main"></div>
<script id="newPlaneView-template" type="text/x-template">
<a href="#planes">Planes</a>
<a href="#flights">Flight</a>
<a href="#admin">Admin</a>
  <h2>Create New Plane</h2> 
  <form> 
      <button id="create-plane">Create Plane</button> 
    <div>
      <label for="name">Name:</label><br> 
      <input id="name"></label> 
    </div> 
    <div>
      <label for="rows">Row:</label><br>
      <input type="number" id="rows"></input> 
    </div> 
    <div>
      <label for="columns">Columns:</label><br>
      <input type="number" id="columns"></input> 
    </div><br>
      <button id="save-plane">Save</button> 
      <button id="cancel-plane">Cancel</button> 
  </form> 
  <div id="show-plane"></div> 
</script>

<script id="newFlightView-template" type="text/x-template">
<a href="#planes">Planes</a>
<a href="#flights">Flight</a>
<a href="#admin">Admin</a>
  <h2>Create New Flight</h2> 
  <form> 
      <button id="create-flight">Create Flight</button> 
    <div>
      <label for="flight_number">Flight number:</label><br> 
      <input id="flight_number"></label> 
    </div> 
    <div>
      <label for="origin">Origin:</label><br>
      <input id="origin"></input> 
    </div> 
    <div>
      <label for="destination">Destination:</label><br>
      <input id="destination"></input> 
    </div> 
    <div>
      <label for="date">Flight date:</label><br>
      <input id="date" type="date"></input> 
    </div> 
    <div>
      <label for="plane_id">Plane name:</label><br>
      <select class="choose-plane" id="plane_id"></select>
    </div> 
    <button id="save-flight">Save</button> 
    <button id="cancel-flight">Cancel</button> 
  </form> 
  <div id="show-flights"></div> 
</script>


<script id="flightsView-template" type="text/x-underscore-template">
  <h3>Flights</h3>
  <table>
  <thead class="thead">
    <th>Date</th>
    <th>Flight</th>
    <th>From > To</th>
    <th>Plane</th>
    <th>Seats</th>
  </thead>
</table>
</script>


<script id="flightListView-template" type="text/x-underscore-template">
  <tr>
    <td>{{date}}</td>
    <td><a id="{{id}}" data-flight-id = {{ id }}>{{flight_number}}</a></td> 
    <td>{{origin}} > {{destination}}</td>
    <td>{{name}}</td> 
    <td>'seats'</td>
  </tr>
</script>


<script id="bookingView-template" type="text/x-template">
  <h3>Virgin Airlines</h3> 
  <P>Flight information</p>
  <div id="seatsView"></div>
  <div>
    <label for="user-name">User Name:</label>
    <input name='user_name' id="user_name"></input> <br>
    <label for="seatNumber">Seat Number:</label>
    <input name='seatNumber' id="seatNumber"></input><br> 
    <button id="selectSeat">Select Seat</button> 
  </div>
</script>

<script id="newSearchView-template" type="text/x-template">
  <h2>Search</h2> 
  <form role="search"> 
      <button id="create-search">Search</button> 
    <div>
      <label for="from">From:</label><br> 
      <input id="from" :search, params[:search]></label> 
    </div> 
    <div>
      <label for="to">To:</label><br>
      <input id="to" :search, params[:search]></input> 
    </div><br>
      <button id="save-search">Save</button> 
      <button id="cancel-search">Cancel</button> 
  </form> 
  <div id="show-search"></div> 
</script>

<script id="searchView-template" type="text/x-underscore-template">
  <h3>Search Results</h3>
  <table>
  <thead class="thead-search">
    <th>Date</th>
    <th>Flight</th>
    <th>From > To</th>
    <th>Plane</th>
  </thead>
</table>
</script>

<script id="searchListView-template" type="text/x-underscore-template">
  <tr>
    <td>{{date}}</td>
    <td><a id="{{id}}" data-flight-id = {{ id }}>{{flight_number}}</a></td> 
    <td>{{origin}} > {{destination}}</td>
    <td>{{name}}</td> 
  </tr>
</script>






