<a href="#">Home</a>
<a href="#planes">Planes</a>
<a href="#flights">Flight</a>
<a href="#admin">Admin</a>
<a class="test" href="">test</a>

<div id="main"></div>


<script id="appView-template" type="text/x-template">
  <h2>Recent Posts</h2>
  <ul id="planes"></ul>
</script>

<button id='bookSeat'>May's test button</button>


<script id="newPlaneView-template" type="text/x-template">
  <h2>Create New Plane</h2> 
  <form> 
      <button id="create-plane">Create Plane</button> 
    <div>
      <label for="name">Name:</label><br> 
      <input id="name"></label> 
    </div> 
    <div>
      <label for="rows">Row:</label><br>
      <input type="number" id="rows"></input> 
    </div> 
    <div>
      <label for="columns">Columns:</label><br>
      <input type="number" id="columns"></input> 
    </div><br>
      <button id="save-plane">Save</button> 
      <button id="cancel-plane">Cancel</button> 
  </form> 
  <div id="show-plane"></div> 
</script>

<script id="newFlightView-template" type="text/x-template">
  <h2>Create New Flight</h2> 
  <form> 
      <button id="create-flight">Create Flight</button> 
    <div>
      <label for="flight-number">Flight number:</label><br> 
      <input id="flight-number"></label> 
    </div> 
    <div>
      <label for="origin">Origin:</label><br>
      <input id="origin"></input> 
    </div> 
    <div>
      <label for="destination">Destination:</label><br>
      <input id="destination"></input> 
    </div> 
    <div>
      <label for="destination">Destination:</label><br>
      <input id="destination"></input> 
    </div> 
    <div>
      <label for="date">FlightDate:</label><br>
      <input id="date"></input> 
    </div> 
    <div>
      <label for="plane-id">Plane:</label><br>
      <input id="plane-id"></input> 
    </div> 
      <button id="save-flight">Save</button> 
      <button id="cancel-flight">Cancel</button> 
  </form> 
</script>


<script id="bookingView-template" type="text/x-template">

  <h3>Virgin Airlines</h3> 

  <P>Flight information</p>
  
  <div id="seatsView">
    
  </div>


  <div>
    <label for="user-name">User Name:</label>
    <input name='user_name' id="user_name"></input> <br>
    <label for="seatNumber">Seat Number:</label>
    <input name='seatNumber' id="seatNumber"></input><br> 
    <button id="selectSeat">Select Seat</button> 
  </div>

</script>


<script id="postListView-template" type="text/x-underscore-template">
  <h3>{{ title }}</h3>
</script>

<script id="postView-template" type="text/x-underscore-template">
  <h2>{{ title }}</h2>
  <p>{{ content }}</p>
  <aside id="comments"></aside> 
  <form> 
    <div>
      <label for="author">Name:</label><br> 
      <input id="author"></label> 
    </div> 
    <div>
      <label for="content">Comment:</label><br>
      <textarea id="content"></textarea> 
    </div> 
      <button>Post comment</button> 
  </form> 

</script>

<script id="commentView-template" type="text/x-underscore-template">
  <blockquote>
    {{ content }}
    <br>
    &mdash; <cite>{{ author }}, </cite>{{ created_at }}  
  </blockquote>
</script>

